@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="text-center mt-5">
    <h2 class="text-danger">Unauthorized Access</h2>
    <p>You are not allowed to perform this action.</p>

    <a href="/Dashboard/Index" class="btn btn-primary">
        Go Back
    </a>
</div>
